# Node modules
node_modules/

# Angular build outputs
dist/
out-tsc/
tmp/
temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
src/environments/*.ts

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
